@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), url('MYRIADPRO-REGULAR.woff') format('woff');
}

/********************************
    Reset CSS
********************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;

    outline: 0;
}

/********************************
    Border Box
********************************/
* {
    box-sizing: border-box;
    outline: none;

}

body {
    font-family: 'Titillium Web', sans-serif;
}

/********************************
    Clearfix
********************************/
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";

    display: table;
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
/*LINE*/
.line:after{
    content: '';
    display: block;
    width: 87px;
    height: 4px;
    margin: 25px auto 0 auto;
    background-color: black;
    opacity: 0.149;
}
/********************************
    4 Column Grid
********************************/
.col-1 { width: 280px; }
.col-2 { width: 560px; }
.col-3 { width: 840px; }
.col-4 { width: 1120px; }

/*service classes*/
.wrapper {
    margin: 0 auto;
}
.block-element {
    display: block;
}
.float-left,
.float-right {
    position: relative;
    display: block;
    float: left;
}
.float-right {
    float: right;
}

/*header*/
.header {
   background: #87509c;
   padding: 58px 0 148px 0;
   text-align: center;
}
.portfolio {
    text-align: center;
}
.holding-nav-logo {
    margin: 0 0 145px 0;
}
.logo {
    display: block;
    margin: 0 0 0 50px;
    width: 117px;
    height: 37px;
    background: url(../images/logo.png) no-repeat 0 0;
    text-indent: -9999px;
}
.main-nav {
    font-size: 0;
}
.main-nav-link {
    display: inline-block;
    padding: 15px 10px;
    margin: 0 0 0 15px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 3px;
}

.main-nav-link.active,
.main-nav-link:hover {
    background: #643a79;
}
.heading-cta {
    display: block;
    margin: 0 0 50px 0;
    font-size: 42px;
    line-height: 49px;
    color: #f7f3ea;
}
.main-button {
    display: inline-block;
    padding: 29px 82px 25px 82px;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    border-radius: 3px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}
.main-button:hover {
    -webkit-box-shadow: inset 0px -4px 0px 0px rgba(135,193,184,0.80);
    -moz-box-shadow: inset 0px -4px 0px 0px rgba(135,193,184,0.80);
    box-shadow: inset 0px -4px 0px 0px rgba(135,193,184,0.80);
}
.orrange-button {
    background: #eb7d4b;
    -webkit-box-shadow: inset 0px -4px 0px 0px rgba(235,125,75,0.65);
    -moz-box-shadow: inset 0px -4px 0px 0px rgba(235,125,75,0.65);
    box-shadow: inset 0px -4px 0px 0px #c86a40;
}
.green-button {
    background: #17c2a4;
    -webkit-box-shadow: inset 0px -4px 0px 0px rgba(23,194,164,0.65);
    -moz-box-shadow: inset 0px -4px 0px 0px rgba(23,194,164,0.65);
    box-shadow: inset 0px -4px 0px 0px #14a58c;
}
.blue-button {
    background: #30bae7;
    -webkit-box-shadow: inset 0px -4px 0px 0px rgba(48,186,231,0.65);
    -moz-box-shadow: inset 0px -4px 0px 0px rgba(48,186,231,0.65);
    box-shadow: inset 0px -4px 0px 0px #299ec5;
}

/***************************************************
        Team Section styles
***************************************************/
.team-section {
    padding: 120px 0 127px 0;
    background: #e7f1f8;
    text-align: center;
}
.team-headding {
    font-size: 41px;
    font-weight: bold;
    margin-bottom: 24px;
}
.divider {
    margin-bottom: 24px;
}
.divider span {
    font-size: 0;
    line-height: 6px;
    padding: 3px 42px;
    background: #c8d9e5;
}

.subheadding {
    margin-bottom: 80px;
    font-size: 18px;

}
.team-members {
    padding: 0 40px;
}
/*text-overflow ellipisis*/
/*да не се използват тагове за селектиране*/
.team-members h3 {
    font-size: 24px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-weight: bold;
}
.blue-text {
    padding: 15px 0;
    color: #30bae7;
}
.member-info {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
}
.face-facebook {
    background: url(../images/facebook.png);
    display: inline-block;
    padding: 16px;
    margin: 6px;
}
.face-twitter {
    background: url(../images/twitter.png);
    display: inline-block;
    padding: 16px;
    margin: 6px;
}
.face-linkedin {
    background: url(../images/linkedin.png);
    display: inline-block;
    padding: 16px;
    margin: 6px;
}
.face-mail {
    background: url(../images/mail.png);
    display: inline-block;
    padding: 16px;
    margin: 6px;
}
.Base {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 42px;
}
.photo-star {
    width: 100%;
    border-radius: 50%;
}

/* -------------------------------- */

.services {
    background: #17c2a4;
}

.section-heading {
    display: block;
    margin: 0 0 22px 0;
    font-size: 40px;
    color: white;
    line-height: 1.444;
    font-weight: bold;
}
.services .wrapper {
    text-align: center;
    margin: 0 auto;
    padding-top: 120px;
}
.sub-heading {
    display: block;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    margin-top: 25px;
}
.service-cols {
    display: inline-block;
    margin-top: 82px;
}
.service-image {
    display: inline-block;
}

.service-image img {
    display: inline-block;
    height: 100%;
}

.service-info {
    min-height: 200px;
    padding: 58px 58px 0 58px;
    margin-bottom: 127px;
}

.service-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 27px;
}

.service-text {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;

}
/* -------------------------------- */

.portfolio {
    display: block;
    background-color: #ffdd99;
    font-weight: bold;
    padding-top: 115px;
    padding-bottom: 90px;
}
.our-porfolio {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin-bottom: 21px;
}
.secondary-heading {
    text-align: center;
    font-size: 18px;
}
.portfolio-nav {
    text-align: center;
    padding: 40px 0px 60px 0;
}
.links-in-portfolio {
    color: rgb(57, 57, 57);
    display: inline-block;
    font-size: 18px;
    line-height: 1.083;
    text-align: center;
    padding: 10px 25px;
    background-color: #ebc985;
    margin: 6px;
    border-radius: 3px;
}
.active-link {
    background-color: white;
}
.links-in-portfolio:hover {
    background-color: white;
}
.pc-img {
    width: 100%;
    padding: 0px 10px 30px 10px;
}

.text-below-images {
    font-size: 18px;
    color: rgb( 57, 57, 57 );
    line-height: 1.083;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 65px;
}

.pink-section {
    display: block;
    background-color: #d74680;
    color: #ffffff;
    font-weight: bold;
    padding-top: 115px;
    padding-bottom: 90px;
}
.pink-section {
    background-color: #d74680;
    padding: 120px 0 50px 0;
    text-align: center;
}
.base2 {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: inline-block;
    float: left;
    margin-left: 20px;
}
.base2-right {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: inline-block;
    float: left;
    margin-left: 40px;
}
.nullam {
    font-size: 17.5px;
    color: white;
    line-height: 1.486;
    padding:10px 20px 30px 45px;
    width: 370px;
}
.name-of-star {
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.083;
    text-align: left;
    padding:0 20px 0 45px;
}
.found {
    font-size: 18px;
    color: rgb(255, 221, 153);
    line-height: 1.444;
    text-align: left;
    padding:0 20px 0 45px;
}
.wrap-in-left {
    float: left;
}
.wrap-content {
    margin: 70px 0 80px;
}
.dark-blue-section {
    background-color: #3c5499;
    padding: 115px 0 115px 0;
    text-align: center;
}
.services-provide {
    font-size: 40px;
    font-weight: bold;
    color: white;
    line-height: 0.748;
    text-align: center;
    padding-bottom: 25px;
}
.we-are-heading {
    font-size: 18px;
    color: white;
    line-height: 1.444;
    margin-bottom: 75px;
}
.email {
    float: left;
    background-color: #273a71;
    padding: 20px;
    border-radius: 3px;
    border: 0;
    margin-left: 15px;
    width: 415px;
    margin-bottom: 27px;
}
.name {
    float: right;
    background-color: #273a71;
    padding: 20px;
    border-radius: 3px;
    border: 0;
    margin-right: 15px;
    width: 415px;
    margin-bottom: 27px;
}
.message {
    width: 860px;
    height: 200px;
    padding: 20px;
    margin-bottom: 60px;
    background-color: #273a71;
    border-radius: 3px;
    border: 0;
}
.submit-button {
    display: block;
    border: 0;
    padding: 29px 82px 25px 82px;
    line-height: 1.455;
    color: #ffffff;
    background: #30bae7;
    border-radius: 3px;
    border-bottom: 4px solid #299ec5;
    font-size: 13.403px;
    color: white;
    margin: 0 auto;
    width: 295px;
}
.footer {
    background-color: #344b8e;
}
.media-social {
    padding: 40px 100px;
}
.social {
    font-size: 24px;
    color: white;
    font-family:'Myriad Pro Regular';
    font-weight:normal;
    line-height: 1.246;
    text-align: center;
    width: 14.2%;
    float: left;
}
footer a:hover {
    color: #30bae7;
}

/*section skills!*/
.skills,
.contact{
    padding: 120px 0;
}
.section-title {
    color: #3c4761;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 14px;
}
.sub-title {
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    color: #3c4761;
    padding-top: 27px;
}
.skills-wrapper{
    padding-top: 84px;
}
.col-1{
    text-align: center;
}
.description{
    padding-top: 33px;
    text-transform: uppercase;
    color: #3c4761;
    font-size: 24px;
}
.contact {
    color: #fff;
    background: #3c5499;
}
.contact .section-title,
.contact .sub-title {
    color: #fff;
}
.contact .line {
    background: #273a71;
}

/*MEDIA QUERIES FOR RESPONSIVE DESIGN*/
@media screen and (max-width: 1200px) {
    .col-1 {width: 25%;}
    .col-2 {width: 50%;}
    .col-3 {width: 75%;}
    .col-4 {width: 100%;}
}
@media screen and (max-width: 900px) {
    .col-1 {width: 50%;}
    .col-2 {width: 100%;}
    .col-3 {width: 100%;}
    .col-4 {width: 100%;}
    .base2-right {margin-left: 0px;}
    .base2 {margin-left: 0px;}
    .social { width: 24%;}
    .block-element { display: inline-block; }
    .message { width: 100%; margin:10px 0;}
    .name { width: 100%; margin:10px 0;}
    .email { width: 100%; margin:10px 0;}
}
@media screen and (max-width: 600px) {
    .col-1 {width: 100%;}
    .col-2 {width: 100%;}
    .col-3 {width: 100%;}
    .col-4 {width: 100%;}
    .social { width:33.3%;}
}

/* -------------------------------- */

